body{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2.5em;
    color: hsl(35, 77%, 61%); 
    border: 3px solid black;
    background-color: hsl(0, 0%, 35%);
    display: inline-block;
    padding: 15px;
}

#calculator {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 80vh;
    margin: auto;
    padding: 10px;
    background-color: black;
    box-shadow: 4px 4px 8px hsl(0, 0%, 50%),
    -4px -4px 8px hsl(0, 0%, 50%);
}

/* Result */
#result-container{
    display: flex;
    text-align: start;
    align-items: center;
    border: 2px solid black;
    height: 20%;
    width: 100%;
    background-color: white;
    background-color: hsl(0, 0%, 45%);
}

#result{
    font-size: 4.5em;
    margin-left: 10px;
    color: hsl(0, 0%, 90%);
    font-weight: bold;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis for overflowing content */
}

/* Controls (Operators and Digits) */
#controls{
    border: 2px solid black;
    display: flex;
    height: 80%;
    width: 100%;
}

/* Operators */
#operators{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    width: 22%;
    background-color: hsl(0, 0%, 35%);
}

#operators button{
    width: 70%;
    height: 90px;
    font-size: 3.5em;
    margin-top: 14%;
    border: none;
    border-radius: 50px;
    background-color: hsl(35, 87%, 51%);
    cursor: pointer;
    transition: background-color ease 0.5s;
    font-weight: bold;
}

#operators button:hover{
    background-color: hsl(35, 77%, 61%);
}

/* Digits */
#digits{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    width: 78%;
    background-color: hsl(0, 0%, 35%);
}

#digits button{
    font-size: 3.5em;
    width: 28%; /* Adjust the width percentage */
    height: 100px;
    margin: 2%; /* Adjust the margin percentage */
    border: none;
    border-radius: 45%;
    padding: 8px;
    background-color: hsl(0, 0%, 75%);
    transition: background-color ease 0.5s;
    cursor: pointer;
}

#digits button:hover{
    background-color: hsl(0, 0%, 88%);
}


